BASE_URL=http://20.207.122.201/evaluation-service
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
ACCESS_CODE=QkbpxH
EMAIL=rd9169@srmist.edu.in
ROLL_NO=RA2311028010136
NAME=Ritam Dutta
GITHUB_USERNAME=ritamm-018
MOBILE=9741768650
ACCESS_TOKEN=your_access_token_her
