BASE_URL=http://20.207.122.201/evaluation-service
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
ACCESS_CODE=your_access_code_here
EMAIL=your_university_email
ROLL_NO=your_roll_number
NAME=your_name
GITHUB_USERNAME=your_username
MOBILE=your_mobile
ACCESS_TOKEN=your_access_token_here